@define-color background #0a1313;
@define-color text #c7e5dd;
@define-color text-alt #8ea7a3;
@define-color background-alt #112020;
@define-color selected #1e2f2f;
@define-color hover #3ba69b;
@define-color urgent #ff4e4e;


* {
  color: @text;
  all: unset;
  font-size: 14px;
  font-family: "CaskaydiaCove Nerd Font", monospace;
  transition: 200ms;
  font-weight: bold;
}

.notification {
  padding: 0 5px;
  border-radius: 15px;
  border: 1px solid @background-alt;
  color: @text;
  background: transparent;
}

.notification-background {
  background: @background;
  box-shadow: none;
  border-radius: 15px;
  margin: 8px;
  border: 1px solid @background-alt;
}

.notification-row .inline-reply-entry {
  padding: 5px 10px;
  background: @background-alt;
  border-radius: 15px;
  color: @text;
}

.notification-row .inline-reply-button {
  padding: 5px 10px;
  border-radius: 15px;
  background: @selected;
  color: @text;
}

.notification-row .inline-reply .inline-reply-button:hover {
  background: @hover;
  color: @background;
}

.notification .notification-content {
  margin: 10px;
}

.notification-content .text-box {
  margin: 0 0 0 15px;
}

.notification-content .time {
  font-size: 0.8rem;
  padding: 2px 0;
  color: @text-alt;
}

.notification .summary {
  font-weight: 800;
  margin-bottom: 2px;
  padding: 2px 0;
  font-size: 1rem;
  color: @hover;
}

.notification .body {
  color: @text;
  font-size: 0.9rem;
}

.notification.critical {
  border: 1px solid @urgent;
}

.notification.low progress,
.notification.normal progress,
.notification.critical progress {
  background: @selected;
}

.notification-background .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 6px;
  background: transparent;
}

.notification-background .close-button:hover {
  background: @selected;
}

.notification>*:last-child>* {
  min-height: 3.2em;
}

.notification>*:last-child>* .notification-action {
  background: @selected;
  margin: 0 6px 9px 6px;
  border-radius: 8px;
}

.notification>*:last-child>* .notification-action:hover {
  background: @hover;
  color: @background;
}

.notification>*:last-child>* .notification-action:active {
  background: @hover;
}

.control-center {
  background: alpha(@background, 0.95);
  border-radius: 15px;
  margin: 5px;
  padding: 12px;
  border: 1px solid @background-alt;
}

.control-center .notification-background {
  background: @background-alt;
  margin: 7px 0;
}

.control-center .notification-background .close-button,
.notification-group-close-button {
  opacity: 0;
}

.notification-group {
  margin: 0px 8px;
}

.notification-group-headers {
  font-weight: bold;
  color: @text;
}

.notification-group-headers>label {
  margin: 0 3px;
  font-size: 1rem;
}

.notification-group-icon {
  color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @text;
  margin: 4px;
  border-radius: 6px;
  padding: 4px;
}

.widget-dnd {
  padding: 8px 14px;
  border-radius: 12px;
  margin: 5px 0;
  color: @text;
  background: @background-alt;
}

.widget-dnd>label {
  font-size: 1rem;
}

.widget-dnd switch {
  background: @selected;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd switch:checked {
  background: @hover;
}

.widget-dnd switch slider {
  background: @text;
  border-radius: 8px;
}

.widget-volume,
.widget-backlight {
  padding: 8px 14px;
  margin: 5px 0;
  border-radius: 12px;
  color: @text;
  font-weight: 800;
  background: @background-alt;
}

.widget-volume label,
.widget-backlight label {
  font-size: 1.1rem;
}

.widget-volume slider,
.widget-backlight slider {
  border-radius: 24px;
  margin: -8px;
  min-width: 24px;
  min-height: 24px;
  background: @text;
  box-shadow: none;
}

.widget-volume trough,
.widget-backlight trough {
  background: @selected;
  margin-left: 8px;
  border-radius: 12px;
}

.widget-volume highlight,
.widget-backlight highlight {
  padding: 3.5px;
  border-radius: 12px;
  background: @hover;
}

.widget-dnd switch:hover,
.control-center .notification-group-collapse-button:hover,
.control-center .notification-group-close-all-button:hover {
  background: @selected;
}

.widget-mpris {
  background: #112020;
  background-image: none;
  border-radius: 15px;
  margin: 5px 0;
  padding: 0 10px;
}

.mpris-overlay {
  background: #112020;
  background-image: none;
}

.widget-mpris-player {
  background: #112020;
  color: #c7e5dd;
  margin: 0 5px;
  padding: 10px 0 15px;
}

.widget-mpris-player .image-button:hover {
  border-radius: 8px;
  background: #3ba69b;
}

.widget-mpris-player button {
  padding: 5px;
  margin: 0 2.5px;
}

.widget-mpris-player .mpris-overlay>box:last-child {
  border-radius: 16px;
  padding: 0 5px;
  background: rgba(59, 166, 155, 0.25);
  margin-left: 10px;
}

.widget-mpris-album-art {
  border-radius: 16px;
  margin: 6px 4px;
}

.widget-mpris-title {
  font-weight: 700;
  margin: 0 3px;
  font-size: 1.2rem;
  color: #c7e5dd;
  text-shadow: none;
}

.widget-mpris-subtitle {
  font-size: 0.9rem;
  color: #8ea7a3;
  margin: 0 3px;
}

.control-center-list-placeholder {
  color: @text-alt;
}

.blank-window {
  background: transparent;
}