yay/
vesktop/
Antigravity/
Code - OSS/
dconf/
gtk-3.0/
gtk-4.0/
pulse/
session/
systemd/
powerlevel10k/
go/
zed/
google-chrome/
ngrok/
ghidra/
astro/
htop

user-dirs.dirs
user-dirs.locale
mimeapps.list	

QtProject.conf
Vector 35/
dolphinrc
trashrc
