@define-color bg #0a1313;
@define-color fg #c7e5dd;
@define-color muted #112020;
@define-color sand #1e2f2f;
@define-color teal #3ba69b;
@define-color accent #5bd2c7;
@define-color orange #dcb97a;
@define-color dim #8ea7a3;
@define-color outline #0f1b1b;
@define-color red #d46a6a;
@define-color error #ff4e4e;
@define-color white #ffffff;