@import "colors.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: @bg;
  font-family: "CaskaydiaCove Nerd Font", "Symbols Nerd Font", monospace;
  font-size: 15px;
  color: @fg;
}

#workspaces button {
  all: unset;
  font-family: "CaskaydiaCove Nerd Font", "Symbols Nerd Font", monospace;
  font-size: 15px;
  min-width: 0;
  color: @fg;
  padding: 0 5px;
  margin: 0 2px;
  transition-duration: 120ms;
}

#workspaces button:hover {
  color: @orange;
}

#workspaces button.focused,
#workspaces button.active {
  color: @accent;
}

#workspaces button.urgent {
  color: @error;
}

#indicator-group {
  background: @muted;
  border-radius: 20px;
  padding: 8px 16px;
}

#indicator-group>.indicator {
  background: @sand;
  border-radius: 16px;
  padding: 8px 16px;
  margin-left: 2px;
  color: @bg;
  font-size: 18px;
  transition: background 120ms, color 120ms;
}

#indicator-group>.indicator:first-child {
  margin-left: 0;
}

#indicator-group>.indicator:hover,
#indicator-group>.indicator.active {
  background: @teal;
  color: @bg;
}

#backlight,
#memory,
#battery,
#custom-network,
#clock,
#custom-launcher,
#custom-weather,
#tray,
#workspaces,
#pulseaudio,
#custom-notification,
#power-profiles-daemon,
#custom-powermenu {
  background: transparent;
  color: @fg;
  margin: 0 10px;
  padding: 0 2px;
  transition-duration: 120ms;
}

#clock {
  margin-right: 4px;
}

#custom-launcher {
  font-size: 18px;
  color: @fg;
  margin-left: 10px;
  margin-right: 15px;
}

#battery {
  color: @fg;
}

#battery.charging {
  color: @teal;
}

#battery.warning:not(.charging) {
  color: @orange;
}

#battery.critical:not(.charging) {
  color: @error;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray menu {
  background-color: @bg;
  color: @fg;
  padding: 4px;
  border-radius: 8px;
}

#tray menu menuitem {
  background: @muted;
  margin: 3px;
  color: @fg;
  border-radius: 4px;
}

#tray menu menuitem:hover {
  background: @muted;
  color: @accent;
}

tooltip {
  background: @bg;
  border: 1px solid @muted;
  border-radius: 8px;
}

tooltip label {
  color: @fg;
  font-family: "CaskaydiaCove Nerd Font", monospace;
  font-size: 13px;
}

@keyframes blink {
  to {
    color: @bg;
    background-color: @error;
  }
}